<!-- templates/index.html -->
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='main.css')}}">
  </head>
  <body>
    <h1>Welcome!!</h1>
    <form method="POST" action="/movies/handle_submission" >
      <label id="ratingID">Rating (out of 5): </label>
      <select name="rating" id="rating-select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>
      <label id="reviewIDLabel">Leave a Review:</label>
      <textarea id="reviewID" name="review" rows="5" cols="33" placeholder="Enter Text"></textarea>
      <input id="submitbutton" type="submit" value="Submit"/>
    </form>
    <div id="scrollbox">
      {% if movie_review_data %}
        {% for review in movie_review_data %}
          <p style="margin:0; padding:0;"><b>{{ review[0] }}</b>-{{ review[3] }}</p>
          <p style="margin:0"><b>Rating: </b>{{ review[1] }}/5</p>
          <p style="margin-top:0"><b>Review: </b>{{ review[2] }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>